In [1]:
from pandas import DataFrame as df

In [13]:
abs_df = df({'word': ['brownchagoortp', 'the', 'neurocognition', 'of', 'language', 'oxford', 'oxford', 'university','1998', 'brain', 'potentials', 'and', 'syntactic', 'violations', 'revisited', ':', 'no', 'evof', 'the', 'syntactic', 'positive', 'shift', '.', 'neuropsychologia', '36', '217', '226', '15', 'obereckerrfriedrichmfriedericiad', 
'of', 'syntactic', 'processing', 'in', 'two-year-olds', '.', 'journal', 'of']})

In [14]:
len(abs_df)

37

In [15]:
len(['brownchagoortp', 'the', 'neurocognition', 'of', 'language', 'oxford', 'oxford', 'university','1998', 'brain', 'potentials', 'and', 'syntactic', 'violations', 'revisited', ':', 'no', 'evof', 'the', 'syntactic', 'positive', 'shift', '.', 'neuropsychologia', '36', '217', '226', '15', 'obereckerrfriedrichmfriedericiad', 
'of', 'syntactic', 'processing', 'in', 'two-year-olds', '.', 'journal', 'of'])

37

In [32]:
test = abs_df.groupby(['word']).size().reset_index(name='counts')

In [34]:
test.to_csv("test.csv", index=False)

In [3]:
os.getcwd()

'C:\\Users\\User\\Desktop\\MONASH Y3S2\\FIT3164\\Codes\\xml-extraction\\xml-1000\\output'

In [16]:
["a"]*5

['a', 'a', 'a', 'a', 'a']

In [31]:
import os
from pandas import DataFrame as df
import pandas as pd

# os.chdir('xml-1000\\')
# os.chdir('output\\')

def dataframe_search():
    """
    A function that loops through all the document for all the process
    Output the final DataFrame to a csv file with the initial filename with .csv instead of .xml
    """
    
    ret = df(columns = ['article_filename','word','1', '2', '3', '4', '5', '6'])

    file_list = os.listdir()
    for docName in file_list:

        if os.path.isfile(docName):

            temp = pd.read_csv(docName)
            temp.insert(0, 'article_filename', [docName[:-4]]*len(temp), True)
            ret.append(temp, ignore_index=True)
    
#     print(ret)
    return ret
            
# dataframe_join()
dataframe_search()

Empty DataFrame
Columns: [article_filename, word, 1, 2, 3, 4, 5, 6]
Index: []

In [29]:
import os
from pandas import DataFrame as df
import pandas as pd

os.chdir('xml-1000\\')
os.chdir('output\\')

def dataframe_average():
    """
    A function that loops through all the document for all the process
    Output the final DataFrame to a csv file with the initial filename with .csv instead of .xml
    """
    
    ret = df(columns = ['1', '2', '3', '4', '5', '6'])

    file_list = os.listdir()
    for docName in file_list:

        if os.path.isfile(docName):

            temp = pd.read_csv(docName)
            lst = list(temp.mean())
            ret.loc[len(ret)] = lst
    
    print(ret)
            
dataframe_join()

C:\Users\User\AppData\Local\Temp/ipykernel_35888/1484377672.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  lst = list(temp.mean())

            1         2          3          4          5         6
0    3.000000  3.000000  19.000000   3.000000        NaN       NaN
1    2.500000  3.833333  15.333333   9.800000  10.500000  3.000000
2    2.000000  4.000000   8.000000   1.333333   3.000000  1.000000
3    2.666667  6.000000   9.000000  13.333333   1.000000  2.000000
4    5.750000  8.000000  34.800000  18.400000  14.000000  3.500000
..        ...       ...        ...        ...        ...       ...
995  2.090909  4.700000   5.700000  15.777778   4.400000       NaN
996       NaN       NaN        NaN        NaN        NaN       NaN
997  3.500000  6.300000   5.000000   7.285714  12.000000  2.333333
998  2.714286  4.333333  15.000000  12.571429  13.714286  1.600000
999  3.200000  5.600000   2.000000   3.000000   9.400000       NaN

[1000 rows x 6 columns]